<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Carpentary Lab</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="vendors/selectFX/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="assets/css/bookingstyle.css">
    <link rel="stylesheet" href="assets/css/calenderstyle.css">

    <link rel="stylesheet" href="assets/css/style.css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>


<!-- JQUERY -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
{{!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> --}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

</head>

<body>

    <!-- Left Panel -->

    <aside id="left-panel" class="left-panel" style="background-color: #196767;">
        <nav class="navbar navbar-expand-sm navbar-default" style="background-color: #196767;">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="./">Dawa Tshering</a>
                <a class="navbar-brand hidden" href="./">DT</a>
            </div>

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="index.html"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
                    </li>
                    <h3 class="menu-title">Laboratory Labs</h3><!-- /.menu-title -->
                    <li class="active">
                        <a href="ui-cards.html"> <i class="menu-icon fa fa-laptop"></i>Carpentary Lab</a>

                    </li>
                    <li >
                        <a href="ui-cards.html"> <i class="menu-icon fa fa-laptop"></i>Metal Fabrication Lab</a>

                    </li>
                    <li >
                        <a href="ui-cards.html"> <i class="menu-icon fa fa-laptop"></i>3D printing & Scanning</a>

                    </li>
                    <li >
                        <a href="ui-cards.html"> <i class="menu-icon fa fa-laptop"></i>Electronic Lab</a>

                    </li>
                    <li >
                        <a href="ui-cards.html"> <i class="menu-icon fa fa-laptop"></i>Heavy Machinry Lab</a>

                    </li>
                    <li >
                        <a href="ui-cards.html"> <i class="menu-icon fa fa-laptop"></i>Hand Tools</a>

                    </li>


                    <h3 class="menu-title">Explore more</h3><!-- /.menu-title -->
                    <li >
                        <a href="ui-cards.html"> <i class="menu-icon fa fa-glass"></i>Carpentary Lab</a>

                    </li>
                    <li >
                        <a href="ui-cards.html"> <i class="menu-icon fa fa-glass"></i>Metal Fabrication Lab</a>

                    </li>
                    <li >
                        <a href="ui-cards.html"> <i class="menu-icon fa fa fa-glass"></i>3D printing & Scanning</a>

                    </li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->

    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                    <div class="header-left">
                        <div class="dropdown col-md-3 col-sm-3 offset-1">
                            <li class="menu-item-has-children active dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i></i>Completed</a>
                                <ul class="sub-menu children dropdown-menu">
                                    <li><a href="ui-buttons.html">Buttons</a></li>
                                    <li><a href="ui-badges.html">Badges</a></li>
                                    <li><a href="ui-tabs.html">Tabs</a></li>
                                    <li><a href="ui-social-buttons.html">Social Buttons</a></li>
                                    <li><a href="ui-cards.html">Cards</a></li>
                                    <li><a href="ui-alerts.html">Alerts</a></li>
                                    <li><a href="ui-progressbar.html">Progress Bars</a></li>
                                    <li><a href="ui-modals.html">Modals</a></li>
                                </ul>
                            </li>
                        </div>

                        <div class="dropdown col-md-3 col-sm-4 offset-1">
                            <li class="menu-item-has-children active dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i></i>Progress</a>
                                <ul class="sub-menu children dropdown-menu">
                                    <li><a href="ui-buttons.html">Buttons</a></li>
                                    <li><a href="ui-badges.html">Badges</a></li>
                                    <li><a href="ui-tabs.html">Tabs</a></li>
                                    <li><a href="ui-social-buttons.html">Social Buttons</a></li>
                                </ul>
                            </li>
                        </div>

                        <div class="dropdown col-md-3 col-sm-4">
                            <li class="menu-item-has-children active dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i></i>Explore</a>
                                <ul class="sub-menu children dropdown-menu">
                                    <li><a href="ui-cards.html">Cards</a></li>
                                    <li><a href="ui-alerts.html">Alerts</a></li>
                                    <li><a href="ui-progressbar.html">Progress Bars</a></li>
                                    <li></i><a href="ui-modals.html">Modals</a></li>
                                </ul>
                            </li>
                        </div>
                    </div>
                </div>

                <div class="col-sm-5">
                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="user-avatar rounded-circle" src="images/admin.jpg" alt="User Avatar">
                        </a>

                        <div class="user-menu dropdown-menu">
                            <a class="nav-link" href="#"><i class="fa fa-user"></i> My Profile</a>

                            <a class="nav-link" href="#"><i class="fa fa-user"></i> Notifications <span class="count">13</span></a>

                            <a class="nav-link" href="#"><i class="fa fa-cog"></i> Settings</a>

                            <a class="nav-link" href="#"><i class="fa fa-power-off"></i> Logout</a>
                        </div>
                    </div>

                    <div class="language-select dropdown" id="language-select">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown"  id="language" aria-haspopup="true" aria-expanded="true">
                            <i class="flag-icon flag-icon-us"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="language">

                            <div class="dropdown-item">
                                <i class="flag-icon flag-icon-us"></i>
                            </div>
                            <div class="dropdown-item">
                                <i class="flag-icon flag-icon-bt"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </header><!-- /header -->
        <!-- Header-->

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Laboratory Labs</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Laboratory Labs</a></li>
                            <li class="active">Carpentary Lab</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="content ">
            <div class="content col-sm-12 col-lg-12">
                <div>
                    <div class="col-4">
                        <form class="search" action="/action_page.php" style="margin:auto;max-width:300px">
                            <input type="text" placeholder="Search.." name="search2">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <div class="col-4">
                        <h1>Carpentary Lab</h1>
                    </div>
                    


                    <!-- JQYERY DATEPICKER -->
                    <p>select date:<input type="date" id="dateControl"/></p>

                    <script>

                    $(document).ready(function(){

                      var dtToday = new Date();

                      var month = dtToday.getMonth() + 1;
                      var day = dtToday.getDate();
                        var year = dtToday.getFullYear();
                        if(month < 10)
                          month = '0' + month.toString();
                        if(day < 10)
                          day = '0' + day.toString();

                        var maxDate = year + '-' + month + '-' +day;

                        $('#dateControl').attr('min',maxDate);
                        })
                    </script>
                </div>
               
                      <table id="table">
                    	<thead>
                    		<tr>
                                <th></th>
                                <th class="th" align="center">09:30</th>
                                <th class="th" align="center">10:00</th>
                                <th class="th" align="center">10:30</th>
                                <th class="th" align="center">11:00</th>
                                <th class="th" align="center">11:30</th>
                                <th class="th" align="center">12:00</th>
                                <th class="th" align="center">12:30</th>
                                <th class="th" align="center">13:00</th>
                                <th class="th" align="center">13:30</th>
                                <th class="th" align="center">14:00</th>
                                <th class="th" align="center">14:30</th>
                                <th class="th" align="center">15:00</th>
                                <th class="th" align="center">15:30</th>
                                <th class="th" align="center">16:00</th>
                                <th class="th" align="center">16:30</th>
                            </tr>

        				</thead>
                            
                            <tr id="1">
                                <th > Equipment 1</th>
                                <td class="0" id="10" ></td>
                                <td class="1" id="11" ></td>
                                <td class="2" id="12" ></td>
                                <td class="3" id="13" ></td>
                                <td class="4" id="14" ></td>
                                <td class="5" id="15" ></td>
                                <td class="6" id="17" ></td>
                                <td class="7" id="18" ></td>
                                <td class="8" id="19" ></td>
                                <td class="9" id="110" ></td>
                                <td class="10" id="111" ></td>
                                <td class="11" id="112" ></td>
                                <td class="12" id="113" ></td>
                                <td class="13" id="114" ></td>
                                <td class="14" id="115" ></td>
                                
                            </tr>
                            
                            <tr id="2">
                                <th > Equipment 2</th>
                                <td class="0" id="10" ></td>
                                <td class="1" id="11" ></td>
                                <td class="2" id="12" ></td>
                                <td class="3" id="13" ></td>
                                <td class="4" id="14" ></td>
                                <td class="5" id="15" ></td>
                                <td class="6" id="17" ></td>
                                <td class="7" id="18" ></td>
                                <td class="8" id="19" ></td>
                                <td class="9" id="110" ></td>
                                <td class="10" id="111" ></td>
                                <td class="11" id="112" ></td>
                                <td class="12" id="113" ></td>
                                <td class="13" id="114" ></td>
                                <td class="14" id="115" ></td>
                                
                            </tr>
                            <tr id="3">
                                <th > Equipment 3</th>
                                <td class="0" id="10" ></td>
                                <td class="1" id="11" ></td>
                                <td class="2" id="12" ></td>
                                <td class="3" id="13" ></td>
                                <td class="4" id="14" ></td>
                                <td class="5" id="15" ></td>
                                <td class="6" id="17" ></td>
                                <td class="7" id="18" ></td>
                                <td class="8" id="19" ></td>
                                <td class="9" id="110" ></td>
                                <td class="10" id="111" ></td>
                                <td class="11" id="112" ></td>
                                <td class="12" id="113" ></td>
                                <td class="13" id="114" ></td>
                                <td class="14" id="115" ></td>
                                
                            </tr>

                            <tr id="4">
                                <th > Equipment 4</th>
                                <td class="0" id="10" ></td>
                                <td class="1" id="11" ></td>
                                <td class="2" id="12" ></td>
                                <td class="3" id="13" ></td>
                                <td class="4" id="14" ></td>
                                <td class="5" id="15" ></td>
                                <td class="6" id="17" ></td>
                                <td class="7" id="18" ></td>
                                <td class="8" id="19" ></td>
                                <td class="9" id="110" ></td>
                                <td class="10" id="111" ></td>
                                <td class="11" id="112" ></td>
                                <td class="12" id="113" ></td>
                                <td class="13" id="114" ></td>
                                <td class="14" id="115" ></td>
                                
                            </tr>

                            <tr id="5">
                                <th > Equipment 5</th>
                                <td class="0" id="10" ></td>
                                <td class="1" id="11" ></td>
                                <td class="2" id="12" ></td>
                                <td class="3" id="13" ></td>
                                <td class="4" id="14" ></td>
                                <td class="5" id="15" ></td>
                                <td class="6" id="17" ></td>
                                <td class="7" id="18" ></td>
                                <td class="8" id="19" ></td>
                                <td class="9" id="110" ></td>
                                <td class="10" id="111" ></td>
                                <td class="11" id="112" ></td>
                                <td class="12" id="113" ></td>
                                <td class="13" id="114" ></td>
                                <td class="14" id="115" ></td>
                                
                            </tr>
                            <tr id="6">
                                <th > Equipment 6</th>
                                <td class="0" id="10" ></td>
                                <td class="1" id="11" ></td>
                                <td class="2" id="12" ></td>
                                <td class="3" id="13" ></td>
                                <td class="4" id="14" ></td>
                                <td class="5" id="15" ></td>
                                <td class="6" id="17" ></td>
                                <td class="7" id="18" ></td>
                                <td class="8" id="19" ></td>
                                <td class="9" id="110" ></td>
                                <td class="10" id="111" ></td>
                                <td class="11" id="112" ></td>
                                <td class="12" id="113" ></td>
                                <td class="13" id="114" ></td>
                                <td class="14" id="115" ></td>
                                
                            </tr>
                            <tr id="7">
                                <th > Equipment 7</th>
                                <td class="0" id="10" ></td>
                                <td class="1" id="11" ></td>
                                <td class="2" id="12" ></td>
                                <td class="3" id="13" ></td>
                                <td class="4" id="14" ></td>
                                <td class="5" id="15" ></td>
                                <td class="6" id="17" ></td>
                                <td class="7" id="18" ></td>
                                <td class="8" id="19" ></td>
                                <td class="9" id="110" ></td>
                                <td class="10" id="111" ></td>
                                <td class="11" id="112" ></td>
                                <td class="12" id="113" ></td>
                                <td class="13" id="114" ></td>
                                <td class="14" id="115" ></td>
                                
                            </tr>
                    </table>
                  <!-- for table -->
   		<script type="text/javascript">
			let node, parent;
			$(()=>{

				$('td').on('click', (event) => {
					node = event.target;
					var res = $(node).parent()[0].id;
					//console.log($($(node).parent()[0]).children()[0].innerText);
					var col = $('th')[parseInt(node.className)+1].innerText;
					document.querySelector("input[name='equipmentName']").value = $($(node).parent()[0]).children()[0].innerText;
					document.querySelector("input[name='timeValue']").value = col;

					$('.modal').toggleClass("show-modal");
					
					
				});

				$('.btn-yes').on('click', (event) => {
					$('.modal').toggleClass("show-modal");
					$(node).addClass("btn-red");

					console.log("Ordered Equipment " + $(node).parent()[0].id + " on " + $('th')[parseInt(node.className)+1].innerText);
                    var expnum = ($(node).parent()[0].id);
                    var time = ($('th')[parseInt(node.className)+1].innerText);

                    var f = JSON.stringify({expnum: expnum, time: time});

                    $.post("/auth/data",
                        {
                            date: f
                        },
                        function(data,status){
                            alert("Data: " + data + "\nStatus: "+ status);
                        });
                        
					$('#test').attr('class'); 

				});

				$('.btn-no').on('click', () => {
					$('.modal').toggleClass("show-modal");
					$(node).removeClass("btn-red");

					console.log("Cancled Equipment " + $(node).parent()[0].id + " on " + $('th')[parseInt(node.className)+1].innerText);

                    var expnum = ($(node).parent()[0].id);
                    var time = ($('th')[parseInt(node.className)+1].innerText);
                    console.log(time);

                    var f = JSON.stringify({expnum: expnum, time: time});

                    $.post("/auth/delete",
                        {
                            date: f
                        },
                        function(data,status){
                            alert("Data: " + data + "\nStatus: "+ status);
                        });
                        

				});

			});	
		</script>
		<!-- table js end here -->


            </div><!-- .animated -->
        </div><!-- .content -->
<div class="modal" >
	    <div class="modal-box">
	        <!-- <span class="close-button">X</span> -->
	        <h6>Do you want to book </h6>
	        
			<div >
				<input type="text" value="num" name="equipmentName" disabled="" style="background-color: #B4DFE0; border: none; width: 30%; padding-left: 3px; color: black;"> on
				<input type="text"  name="timeValue" disabled="" style="background-color: #B4DFE0; border: none; width: 35%; padding-left: 3px; color: black;">

			</div>
	        <button class="btn-yes" style=" border-radius: 10px; background-color: #03E08B; width: 15%; float: left; border: none; color: black">Yes </button>
  			<button class="btn-no" style=" border-radius: 10px; background-color: #DA452D; width: 15%; float: right; border: none; color: black">No</button>
	 	</div>
	</div>

    </div><!-- /#right-panel -->

    <!-- Right Panel -->



    <script src="vendors/jquery/dist/jquery.min.js"></script>
    <script src="vendors/popper.js/dist/umd/popper.min.js"></script>
    <script src="vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'></script>
    <script src="assets/js/calenderscript.js"></script>
    <script src="assets/js/tablejs.js"></script>
    <script src="assets/js/main.js"></script>


</body>

</html>
